@import "tailwindcss";

@theme {
  --font-sans: "Helvetica", "Helvetica Neue","Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans", "Noto Sans JP", "Noto Sans CJK JP", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --color-accent: #008db7;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

a {
  color: #008db7;
  text-decoration: underline;
  text-underline-offset: 2px;
}
